/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Dark theme */

body {
background-color: #383636;
color: #FFFFFF;
padding-top: 80px; /* space for fixed navbar */
min-height: 100vh;
display: flex;
flex-direction: column;
font-family: 'Poppins', sans-serif;
line-height: 1.6;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  justify-items: end;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
  padding: 1rem 2rem;
  z-index: 1000;
}

/* Nav list styling */
nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

  nav ul a{
  display: inline-block;
  color: #e0e0e0; /* light color for text */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: none;

}

nav a:hover {
 /* color for hover effect */
  background-color: #2d2d2d;
  color: #ff4aff;
  cursor: pointer;
}

.neon-title {
  color: #ff4aff;
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 4rem);
  text-shadow:
    0 0 1px #ff4aff,
    0 0 3px #ff4aff,
    0 0 5px #e600e6;
  transition: text-shadow 0.3s ease;
  margin-bottom: 1.5rem;
}

.neon-title:hover {
  text-shadow:
    0 0 5px #ff4aff,
    0 0 10px #ff4aff,
    0 0 40px #e600e6;
    cursor: pointer;
}

.main-page {
  color: #cccccc;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 2rem;
  text-shadow: 0 0 1px #b374b3;
}

.logo {
  background: none;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: auto; /* Pushes it to the bottom */
  padding-bottom: 2rem;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain
}

.title {
  color: #cccccc;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-shadow: 0 0 1px #b374b3;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  color:  #cccccc;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  margin-top: 1rem;
  margin-left: 1rem;
  text-shadow: 0 0 1px #b374b3;
  font-family: 'Orbitron', sans-serif;
}

p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 1rem;
  text-align: justify;
  
}

footer p {
  font-size: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4aff;
  background-color: #1e1e1e;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #ff4aff80;
}

.social-links a:hover {
  background-color: #ff4aff;
  color: #1e1e1e;
  box-shadow: 0 0 12px #ff4affcc;
  transform: scale(1.1); /* Makes the icon grow on hover */
  transition: transform 0.3s ease;
}

